html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

/*fin del reset*/

body{
  font-size: 62.5%;
}

h1{
  font: normal 2.4em verdana, geneva, sans-serif;
  background: -webkit-linear-gradient(top,#00f,#0cf);
  width: 35%;
  border-radius: 10px;
  margin: 15px auto;
  text-align: center;
  padding: 15px;
  color: white;
  box-shadow: #00f 5px 5px 10px;
  text-shadow: white 1px 1px 3px;
}

h2{
  font: bold 1.7em verdana, geneva, sans-serif;
  margin: 0;
  padding: 5px 0px 5px 0px;
  color: black;
}

section{
  width: 91%;
  border-top: 1px dashed blue;
  margin: 15px auto;
}

figure{
  float: left;
}

figure img{
  border-radius: 20px;
  padding: 5px;
  background: grey;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
  box-shadow: grey 5px 5px 20px;
}

figure img:hover{ /*propiedades del estado hover de las img que sean hijas de figure*/
  -webkit-transform:scale(1.2);

}

figure figcaption{
  font-family: arial,helvetica, sans-serif;
  font-size: 1.3em;
  text-align: center;
  margin-top: 5px;
}

footer{
  clear: both;
  padding-top: 100px;
}

footer p{
  font: 1.6em georgia, "Times New Roman", Times, serif;
  color: #666;
  margin: 10px 8px;
}
