body{
  background-color: white;
  /*body: etiqueta, background: propiedad, luego ":", y finalmente el valor de la propiedad*/
}

#cabeceraweb{
  background-color: blue;
}

#navegacionprincipal{
  background-color: yellow;
}

#barralateral{
  background-color: grey;
  float: left;
  height: 900px;
}

#contenidoprincipal{
  background-color: purple;
  margin-left: 215px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#pieprincipal{
  background-color: red;
  clear: both;
  margin-top: 25px;
}

li{
  background-color: green;
  display: inline; /*utliza el tamaño de largo del texto*/
}
