#video{
  width: 720px;
  margin: 20px auto;
  background: orange;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
}

nav{
  margin: 5px 0px;
}

#botones{
  float: left;7
  width: 100px;
  height: 20px;
}

#barra{
  background: white;
  width: 600px;
  height: 16px;
  border: 1px solid grey;
  padding: 3px;
  margin-left: 80px;
}

#progreso{
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0,0,250,2);
}
